/.project
/.settings/.jsdtscope
/.settings/org.eclipse.wst.jsdt.ui.superType.container
/.settings/org.eclipse.wst.jsdt.ui.superType.name
/framework/.project
/framework/.settings/.jsdtscope
/framework/.settings/org.eclipse.wst.jsdt.ui.superType.container
/framework/.settings/org.eclipse.wst.jsdt.ui.superType.name
